name: fan_side_drawer
description: A fantasy and animated side drawer with all required properties for all platforms
version: 0.0.1
homepage: https://github.com/marjandn/fan_side_drawer

environment:
  sdk: ">=3.0.2 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
